*{
    margin: 0px;
    margin: auto; 
    padding: 0px;
    font-family: 'Droid Serif', serif;
}

body{
    height: 100%;
}

.body-index{
    background-image: url("http://i.stack.imgur.com/jGlzr.png");
    background-color: #cccccc;
    background-size: cover;
    height: 100vh; 
    color: white;   
}

.logo{
    padding: 5%;
    width: 50%;
}

.botones{
    margin-top: 80%;
}

.btn-botones{
    color: rgb(255, 255, 255);
    border-color: transparent;
    font-size: 30px;
    margin-top: 10%;
    padding: 4%;
    width: 40%;
}

.btn-color-t{
    background: hsla(0, 0%, 100%, 0);
}

.btn-color-t:hover{
    background: linear-gradient(90deg, rgb(53, 35, 132), rgb(255, 0, 191));
}

/* sign_up.html */
.body-sign_up{
    background-color: rgb(255, 255, 255);
}

.sign-up{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(209, 203, 203);
    font-size: bold;
}

/* DROPDOW */
.drowdow{
    border-radius: 20px solid #FFFFFF;
    margin: auto;
    text-align: center;
}

.btn-sign-up{
    width: 100%;
    color: rgb(255, 255, 255);
    border-color: transparent;
    background: rgb(226, 42, 150);

    
}

/* sign_app */
.form{
    margin: 2%;
}

.icono-izquierda{
    z-index: 100;
}
.izquierda{
    width: 60px;
}